<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="container-fluid">
              <a class="navbar-brand mt-2 mb-2" href="#" style="color: whitesmoke;"><span class="about_font">THE CAFE HUB</span></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color: whitesmoke;">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"style="color: whitesmoke;">About us</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: whitesmoke;">
                      Veg
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Pizza</a></li>
                      <li><a class="dropdown-item" href="#">Burger</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: whitesmoke;">
                     Non-Veg
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Pizza</a></li>
                      <li><a class="dropdown-item" href="#">Burger</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"></li>
                    <a class="nav-link" href="#"style="color: whitesmoke;">You're Cart</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit" style="color: whitesmoke;">Search</button>
                </form>
              </div>
            </div>
          </nav>
        <div class="container">
            <div class="row mt-4">
              <h1>BURGERS</h1>
            </div>
          </div>
          <div class="mainoop">
              <div class="container">
                  <div class="row">
                    {% for i in obj %}
                    <div class="imgview col-lg-3 col-md-6 col-sm-12 border-white border-1 rounded p-1 mb-2 mt-5">
                        <img src="/Media/{{i.img1}}" alt=""  class="img-fluid">
                        <h6>{{i.head}} </h6><div class="mb-3"><h5><i class="fa-solid fa-indian-rupee-sign"></i>{{i.price}}</h5></div>
                        <h6>{{i.offers}}</h6><span class="orderbox"><a href="#">Order</a></span>
                    </div>
                    {% endfor %}
                  </div>
              </div>
          </div>
          <footer class="footer">
            <div class="footer__addr">
              <h1 class="footer__logo"><span class="about_font">THE CAFE HUB</span></h1>
                  
              <h2>Contact-+91 00000-00000</h2>
              
              <address>
                In India,.........<br>
                    
                <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
              </address>
            </div>
            
            <ul class="footer__nav">
              <li class="nav__item">
                <h2 class="nav__title">Media</h2>
          
                <ul class="nav__ul">
                  <li>
                    <a href="#">Online</a>
                  </li>
          
                  <li>
                    <a href="#">Print</a>
                  </li>
                      
                  <li>
                    <a href="#">Alternative Ads</a>
                  </li>
                </ul>
              </li>
              
              <li class="nav__item nav__item--extra">
                <h2 class="nav__title">Cafe</h2>
                
                <ul class="nav__ul nav__ul--extra">
                  <li>
                    <a href="#">Pizza</a>
                  </li>
                  
                  <li>
                    <a href="#">Burger</a>
                  </li>
                  
                  <li>
                    <a href="#">Fries</a>
                  </li>
                  
                  <li>
                    <a href="#">Pasta</a>
                  </li>
                  
                  <li>
                    <a href="#">Veg</a>
                  </li>
                  
                  <li>
                    <a href="#">Non-veg</a>
                  </li>
                </ul>
              </li>
              
              <li class="nav__item">
                <h2 class="nav__title">Legal</h2>
                
                <ul class="nav__ul">
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  
                  <li>
                    <a href="#">Terms of Use</a>
                  </li>
                  
                  <li>
                    <a href="#">Sitemap</a>
                  </li>
                </ul>
              </li>
            </ul>
            
            <div class="legal " style="color: white;">
              <p>&copy; 2024 Something. LALIT.</p>
              
              <div class="legal__links " style="color: white;">
                <span>Date With You're <span class="heart">♥</span></span>
              </div>
            </div>
          </footer>
  
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>