<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-danger">
            <div class="container-fluid">
              <a class="navbar-brand mt-2 mb-2" href="#" style="color: whitesmoke;"><span class="about_font">THE CAFE HUB</span></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color: whitesmoke;">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"style="color: whitesmoke;">About us</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: whitesmoke;">
                      Veg
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Pizza</a></li>
                      <li><a class="dropdown-item" href="#">Burger</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: whitesmoke;">
                     Non-Veg
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Pizza</a></li>
                      <li><a class="dropdown-item" href="#">Burger</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                  <li class="nav-item"></li>
                    <a class="nav-link" href="#"style="color: whitesmoke;">You're Cart</a>
                  </li>
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit" style="color: whitesmoke;">Search</button>
                </form>
              </div>
            </div>
          </nav>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                     <img src="/static/images/WAB-Sign-Banner-2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                     <img src="/static/images/WAB-Sign-Banner-2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                     <img src="/static/images/WAB-Sign-Banner-2.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
        
        <div class="marg">
          <div class="container-fluid">
              <div class="row">
                <div class="shw col-lg-6 col-md-6 col-sm-12 mt-5 ">
                  <img src="/static/images/pexels-photo-2220618.webp" alt="" class="img-fluid">
                  
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-12 mt-5">
                  <h6>Best Coffee Franchise</h6>
                        <h1>Welcome At Cafehub</h1><br>
                        <h5>Khao toh Welcome</h5><br>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, eius. Harum aliquam sapiente recusandae expedita dignissimos eius voluptas incidunt fugiat ad nesciunt, cupiditate corrupti ab voluptatibus perferendis labore. Quibusdam, a?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, eius. Harum aliquam sapiente recusandae expedita dignissimos eius voluptas incidunt</p><br>
                        <span class="des"><a href="#">MORE ABOUT US</a></span>
                </div>
            </div>
          </div>
        </div>
        <div class="container-fluid marg">
          <div class="row">
            <div class="icn col-lg-4 col-md-4 col-sm-6">
                <span class="big"><i class="fa-solid fa-seedling"></i></span><br><br>
                <h3>International Taste </h3>
                <h5>Tickle your tastebuds with the #firangi taste. A diverse menu that is modified as per the Indian taste. </h5>
            </div>
            <div class="icn col-lg-4 col-md-4 col-sm-6">
                <span class="big"><i class="fa-solid fa-utensils"></i></span><br><br>
                <h3>Affordable Bites  </h3>
                <h5>Food is a service and it shouldn’t dig a hole in your pocket. Suto Cafe aims to deliver foody.</h5>
            </div>
            <div class="icn col-lg-4 col-md-4 col-sm-6">
                <span class="big"><i class="fa-solid fa-face-smile"></i></span><br><br>
                <h3>Happy Vibes </h3>
                <h5>Inspired and designed as per the soothing Grecian theme, Suto is a friendly, happy and happening space.</h5>
            </div>
            <div class="icn col-lg-4 col-md-4 col-sm-6">
                <span class="big"><i class="fa-solid fa-briefcase"></i></span><br><br>
                <h3>Proactive Service</h3>
                <h5>We take pride that the hands that serve you are the most efficient. Our staff is well-trained.</h5>
            </div>
            <div class="icn col-lg-4 col-md-4 col-sm-6">
                <span class="big"><i class="fa-solid fa-headphones"></i></span><br><br>
                <h3>Live Music</h3>
                <h5>Music is the soul of a place. Grab a bite at Suto Cafe with the rhythmic melodies.</h5>
            </div>
            <div class="icn col-lg-4 col-md-4 col-sm-6">
              <span class="big"><i class="fa-solid fa-wifi"></i></span><br><br>
              <h3>Free Wifi</h3>
              <h5>Music is the soul of a place. Grab a bite at Suto Cafe with the rhythmic melodies.</h5>
            </div>
          </div>
        </div>
        <div class="menu marg">
            <div class="container-fluid">
                <div class="row">
                    <div class="mt-4 mb-4"><h4>MENU</h4></div>
                    <div class="mt-4 mb-4"><h1>TAKE YOUR <br>DELICIOUS PICK </h1></div>
                    <div class="products col-lg-2 col-md-2 col-sm-4 mt-5">
                        <a href="burger.html"><img src="/static/images/1.png" alt="" class="img-fluid"></a>
                        <h5>BURGERS</h5>
                    </div>
                    <div class="products col-lg-2 col-md-2 col-sm-4 mt-5">
                        <a href="sandwiches.html"><img src="/static/images/2.png" alt="" class="img-fluid"></a>
                        <h5>WRAPS AND SANDWICHES</h5>
                    </div>
                    <div class="products col-lg-2 col-md-2 col-sm-4 mt-5">
                        <a href="pizza.html"><img src="/static/images/pizza.png" alt="" class="img-fluid"></a>
                        <h5>PIZZA</h5>
                    </div>
                    <div class="products col-lg-2 col-md-2 col-sm-4 mt-5">
                        <a href="fries.html"><img src="/static/images/4.png" alt="" class="img-fluid"></a>
                        <h5>SIDES</h5>
                    </div>
                    <div class="products col-lg-2 col-md-2 col-sm-4 mt-5">
                        <a href="desserts.html"><img src="/static/images/5.png" alt="" class="img-fluid"></a>
                        <h5>DESSERTS</h5>
                    </div>
                    <div class="products col-lg-2 col-md-2 col-sm-4 mt-5">
                        <a href="beverages.html"><img src="/static/images/6.png" alt="" class="img-fluid"></a>
                        <h5>BEVERAGES</h5>
                    </div>
                </div>
            </div>
        </div>


        
        <div class="marg">
          <div class="container-fluid">
              <div class="row">
                <div class="shw col-lg-6 col-md-6 col-sm-12 mt-4">
                  <img src="/static/images/ai-generated-8223836_640.webp" alt="" class="img-fluid">
                  
                </div>
                <div class=" col-lg-6 col-md-6 col-sm-12 ">
                  <form method="POST">
                    {% csrf_token %}
                    <h2>BOOK YOU'RE TABLE NOW........!</h2>
                        <div class="row12">
                          <div class="col-25">
                            <label for="fname">NAME</label>
                          </div>
                          <div class="col-75">
                            <input type="text" id="fname" name="name" placeholder="Your name..">
                          </div>
                        </div>
                        <div class="row12">
                          <div class="col-25">
                            <label for="lname">PHONE NUMBER</label>
                          </div>
                          <div class="col-75">
                        <input type="text" id="lname" name="number" placeholder="Your number..">
                          </div>
                    </div>
                    <div class="row12">
                      <div class="col-25">
                        <label for="fname">Date</label>
                      </div>
                      <div class="col-75">
                        <input type="date" name="date">
                      </div>
                    </div>
                    <div class="row12">
                      <div class="col-25">
                        <label for="fname">Members</label>
                      </div>
                      <div class="col-75">
                        <input type="text" id="fname" name="members" placeholder="how many members..">
                      </div>
                    </div>
                    
                    <div class="row12">
                      <div class="col-25">
                        <label for="subject">SUGGESTIONS</label>
                      </div>
                      <div class="col-75">
                        <textarea id="subject" name="suggestions" placeholder="Write something.."></textarea>
                      </div>
                    </div><br>
                    <div class="row12">
                      <input type="submit" value="Submit">
                    </div>
                  </form>
                </div>
            </div>
          </div>
        </div>

        <footer class="footer">
          <div class="footer__addr">
            <h1 class="footer__logo"><span class="about_font">THE CAFE HUB</span></h1>
                
            <h2>Contact-+91 00000-00000</h2>
            
            <address>
              In India,.........<br>
                  
              <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
            </address>
          </div>
          
          <ul class="footer__nav">
            <li class="nav__item">
              <h2 class="nav__title">Media</h2>
        
              <ul class="nav__ul">
                <li>
                  <a href="#">Online</a>
                </li>
        
                <li>
                  <a href="#">Print</a>
                </li>
                    
                <li>
                  <a href="#">Alternative Ads</a>
                </li>
              </ul>
            </li>
            
            <li class="nav__item nav__item--extra">
              <h2 class="nav__title">Cafe</h2>
              
              <ul class="nav__ul nav__ul--extra">
                <li>
                  <a href="#">Pizza</a>
                </li>
                
                <li>
                  <a href="#">Burger</a>
                </li>
                
                <li>
                  <a href="#">Fries</a>
                </li>
                
                <li>
                  <a href="#">Pasta</a>
                </li>
                
                <li>
                  <a href="#">Veg</a>
                </li>
                
                <li>
                  <a href="#">Non-veg</a>
                </li>
              </ul>
            </li>
            
            <li class="nav__item">
              <h2 class="nav__title">Legal</h2>
              
              <ul class="nav__ul">
                <li>
                  <a href="#">Privacy Policy</a>
                </li>
                
                <li>
                  <a href="#">Terms of Use</a>
                </li>
                
                <li>
                  <a href="#">Sitemap</a>
                </li>
              </ul>
            </li>
          </ul>
          
          <div class="legal " style="color: white;">
            <p>&copy; 2024 Something. LALIT.</p>
            
            <div class="legal__links " style="color: white;">
              <span>Date With You're <span class="heart">♥</span></span>
            </div>
          </div>
        </footer>




        
    
   
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>